body {
	margin: 0;
	font-family: 'Comfortaa', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    --pad: max(20px, 4vmin);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.name {
    padding: var(--pad);
	transform: translateY(-.32em);
	font-size: calc(min(max(9vmin, 25px), 3em));
	font-weight: 010;
	margin: 0px;
}

canvas {
    position: fixed;
    pointer-events: none;
    top:0;
    z-index: -1;
}

h1, h2, h3 {
    font-weight: 010;
}

.cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Frame {
	margin: var(--pad);
    height: calc(100% - calc(var(--pad) * 2));
	width: calc(100% - calc(var(--pad) * 2));
	border: 1px solid black;
	align-items: center;
	position: fixed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
    box-shadow: 0 0 0 var(--pad) rgba(255, 255, 255, 0.856);
    z-index: 100;
    pointer-events: none;
    position: fixed;
}

@media only screen and (max-width: 600px) {
    .cardGrid {
        grid-template-columns: 1fr;
    }
}

a {
	color: inherit;
	text-decoration: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}