---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<div class="name">
		Milton Rosenbaum
	</div>
	<div>
		<list>
			<li>
				<a href="/portfolio-v4/blog">Blog</a>
			</li>
			<li>
				<a href="/portfolio-v4/projects">Projects</a>
			</li>
		</list>
	</div>
	
</Layout>

<style>
	li {
		list-style: none;
		margin-bottom: 1rem;
	}
	a {
		font-size: large;
		transition: color 100ms ease-out;
	}
	a:hover {
		color: rgba(0, 0, 0, 0)
	}
	a::before {
		transition: color 100ms ease-in;
		content: "⬤";
		color: rgba(0, 0, 0, 0);
		position: relative;
		right: -1.2rem
	}
	a:hover::before {
		color: rgba(0, 0, 0, 1)
	}
</style>