---
import Card from "../components/Card.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<div class="name">
		Milton Rosenbaum
	</div>
	<div class="content">

	<div class="bio">
		I am a McGill student in CS and Philosophy, currently in my final year. I am passionate about language, and skilled in python, full stack web development, and functional programming.
		<div/>	
	</div>

	<div>
		<list>
			<li>
				<a href="/portfolio-v4/blog">Blog</a>
			</li>
			<li>
				<a href="/portfolio-v4/projects">Projects</a>
			</li>
		</list>
	</div>

	<h1>Some posts I like</h1>
	<ul class="cardGrid">
		<Card link="/portfolio-v4/blog/post1" title="Language and its Misuse" description="I just *harumph* don't even know what you mean"/>
	</ul>
	</div>
	
</Layout>

<style>
	.bio {
		max-width: 37rem;
		margin-bottom: calc(var(--pad) + 1rem);
		margin-left: calc(var(--pad) + 1rem);
	}
	li {
		list-style: none;
		margin-bottom: 1rem;
		margin-left: calc(var(--pad) + 1rem);
	}
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	a {
		font-size: large;
		transition: color 100ms ease-out;
	}
	h1 {
		margin-left: var(--pad);
		margin-top: 3rem;
	}
	a:hover {
		color: rgba(0, 0, 0, 0)
	}
	a::before {
		transition: color 100ms ease-in;
		content: "⬤";
		color: rgba(0, 0, 0, 0);
		position: relative;
		right: -1.2rem
	}
	a:hover::before {
		color: rgba(0, 0, 0, 1)
	}
</style>