---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Milton's Blog</title>
<!-- Katex -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
  integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
  crossorigin="anonymous"
/>

<ViewTransitions />