---
interface Props {
    title: string,
    description?: string,
    date?: string,
    link: string,
}
const { title, description, date, link} = Astro.props;
---

<li>
     <a class="card" href={link}>
        <div class="title">
        <h4>{title}</h4>
        <p class="desc">
            {description}
        </p>
        </div>
        <p class="date">
            {date}
        </p>
    </a>
</li>

<style>
    .desc {
        max-width: 30rem;
        color: #6e6e6e;
        text-align: left;
        font-size: small;
    }

    .card {
        transition: transform 200ms ease-in-out;
        transform: none;
        padding: calc(var(--pad) * 1);
        background-color: rgba(255, 255, 255);
        display: flex;
        align-items: center;
        /* border: 1px solid black; */
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card + .card {
        border-top: solid 1px black;
    }
    .date {
        font-size: 0.7rem;
        margin-left: auto;
        color: #6e6e6e;
    }
</style>
