---
import type { MarkdownHeading } from 'astro';

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const filteredHeadings = headings.filter((heading) => heading.depth <= 2);
---

<nav>
  <h2>In this Post</h2>
  <ul>
    {
      filteredHeadings.map((heading) => (
        <li>
          <a class={heading.depth == 1 ? "big" : "small"} href={`#${heading.slug}`}>{heading.text.split('\\')[0]}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
    ul {
        font-size: larger;
    }
    nav {
        margin-right: 1px;
        position: fixed;
        top: var(--pad);
        margin-left: calc(var(--pad) + 20em);
    }

    a {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
    }

    .small {
        font-size: small;
        margin-left: 1rem;
        margin-bottom: -0.5rem;
    }
    

    .small::before {
        content: "";
        display: block;
        background-color: gray;
        width: 1px;
        height: 1.5rem;
        top: -0.125rem;
        left: -9px;
        position: relative;
    }

    @media only screen and (max-width: 600px) {
      nav {
        margin-left: var(--pad);
        position: relative;
        top: -20px;

      }

      h2 {
        display: none;
      }

    }

</style>
