<script>
    import { setup } from "./webglhelpers/webgl.js"

    const canvas = document.getElementById("canvas") as HTMLCanvasElement;
    const frame = document.getElementById("frame")!

    var gl = canvas.getContext("webgl2", { antialias: false })!;

    const mountWebgl = async () => {
        const render = await setup(gl);
        requestAnimationFrame(render);
    }
    mountWebgl();

    const performanceCorrection = 1.6;

    const handleResize = () => {
        const { width, height } = frame.getBoundingClientRect()!;

        gl.canvas.height = height * window.devicePixelRatio / performanceCorrection - 1;
        gl.canvas.width = width * window.devicePixelRatio / performanceCorrection;

        canvas.style.height = (gl.canvas.height * performanceCorrection / window.devicePixelRatio) + 'px';
        canvas.style.width  = (gl.canvas.width * performanceCorrection / window.devicePixelRatio) + 'px';
    };

    handleResize();
    window.addEventListener("resize", handleResize);

	// return () => window.removeEventListener("resize", handleResize);
</script>
<div id="frame" class="Frame">
    <canvas id="canvas">
        Your browser doesn't support the html canvas element
    </canvas>
</div>