---
import Headings from "../components/Headings.astro";
import BaseHead from "../components/BaseHead.astro";
import type { CollectionEntry } from 'astro:content';
import type { MarkdownHeading } from "astro";

type Props = CollectionEntry<'blog'>['data'] & { headings: MarkdownHeading[] };


const { title, description, pubDate, headings } = Astro.props;
---

<html>
	<head>
		<BaseHead/>
	</head>
	<body>
		<div class="Frame" id="frame"/>
		<div class ="inset">
			<div class="blogview">
                <div class="header">
                    <h1>{title}</h1>
                    <h2>{description}</h2>
                    <h4>{pubDate.toDateString()}</h4>
                </div>
                <div class="nav">
                    <Headings headings={headings}/>
                </div>
                <div class="container">
                    <div class="content">
                        
                        <div class="post">
                            <slot/>
                        </div>
                    </div>
                </div>
           </div>
		</div>
	</body>
</html>

<style>
	.inset {
		padding: var(--pad)
	}
</style>

<style>
.blogview {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content {
    background: white;
    padding-bottom: 20rem;
    width: calc(min(90vw, 40em))
}
.header {
    z-index: 1;
    width: calc(min(90vw, 40em));
}
.nav {
    min-width: fit-content;  
    height: 0px;
}
:global(h1, h2) {
    scroll-margin: 50px;
}

h4 {
    color: gray;
    font-weight: 100;
}

@media only screen and (max-width: 600px) {
    :global(canvas) {
        display: none;
    }
    .nav {
        width: 100%;
        height: fit-content;
    }
}

</style>