---
import Headings from "../components/Headings.astro";
import Layout from "./Layout.astro";
import type { CollectionEntry } from 'astro:content';
import type { MarkdownHeading } from "astro";

type Props = CollectionEntry<'blog'>['data'] & { headings: MarkdownHeading[] };


const { title, description, pubDate, headings } = Astro.props;
---

<Layout>
    <div class="blogview">
        <div class="header">
            <h1>{title}</h1>
            <h2>{description}</h2>
            <h4>{pubDate}</h4>
        </div>
        <div class="nav">
            <Headings headings={headings}/>
        </div>
        <div class="container">
            <div class="content">
                
                <div class="post">
                    <slot/>
                </div>
            </div>
        </div>
   </div>
</Layout>

<style>
.blogview {
    display: grid;
    grid-template-areas: 
    "h t"
    "h p";
    grid-template-columns: 1fr 3fr;
}
.container {
    grid-area: p;
}
.content {
    background: white;
    box-shadow: 0px 100px 0px white,
                0px -300px 0px white,
                300px 0px 0px 300px white,
                299px 0px 0px 300px black;

    padding-left: 15vw; 
    padding-right: 20vw;
}
.header {
    grid-area: t;
    z-index: 1;
    padding-left: 15vw; 
    padding-right: 20vw;
}
.nav {
    grid-area: h;
    min-width: fit-content;  
    overflow: hidden;
}
:global(h1, h2) {
    scroll-margin: 50px;
}

@media only screen and (max-width: 600px) {
    .blogview {
        grid-template-areas: 
        "t"
        "h"
        "p";
        grid-template-columns: 1fr;
    }
    :global(canvas) {
        display: none;
    }
    .nav {
        padding-left: 2rem;
        padding-bottom: 2rem;
        margin: 0px;
    }
    .content {
        padding: 1rem;
        box-shadow: 0px 100px 0px white,
                0px -300px 0px white,
                300px 0px 0px 300px white;
    }
    .header {
        padding: 1rem;
    }
}

</style>