---
import Hero from "../components/react/webglhero"
import BaseHead from "../components/BaseHead.astro"
---
<html>
	<head>
		<BaseHead/>
	</head>
	<body>
		<div class="Frame" id="frame">
			<Hero client:only transition:persist/>
			<div class="Inset">
				<slot />
			</div>
		</div>
	</body>
</html>