---
import Hero from "../components/react/webglhero"
import BaseHead from "../components/BaseHead.astro"
---
<html>
	<head>
		<BaseHead/>
		<link rel="stylesheet" type="text/css" href="http://tikzjax.com/v1/fonts.css">
		<script src="https://tikzjax.com/v1/tikzjax.js"></script>
	</head>
	<body>
		<div class="Frame" id="frame"/>
		<div class ="inset">
			<slot/>
		</div>
		<Hero client:only="react" transition:persist/>
	</body>
</html>

<style>
	.inset {
		padding: var(--pad)
	}
</style>