---
import Layout from "./Layout.astro";
import type { CollectionEntry } from 'astro:content';
type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout>
    <div class="blogview">
        <div class="navbar">
            on this page:
            <div>hello</div>
        </div>
        <div class="content">
            <div class="header">
                <h1>{title}</h1>
                <h2>{description}</h2>
                <h4>{pubDate}</h4>
            </div>
            <div class="post">
                <slot/>
            </div>
        </div>
    </div>
</Layout>

<style>
.blogview {
    display: flex;
    flex-direction: row;
}
.navbar {
    width: 10rem
}
.content {
    background: white;
}

</style>