---
import Hero from "../components/react/webglhero"
import BaseHead from "../components/BaseHead.astro"
---
<html>
	<head>
		<BaseHead/>
	</head>
	<body>
		<div class="Frame" id="frame"/>
		<div class ="inset">
			<slot/>
		</div>
		<Hero client:only="react" transition:persist/>
	</body>
</html>

<style>
	.inset {
		padding: var(--pad)
	}
</style>