---
import Hero from "../components/react/webglhero"
import BaseHead from "../components/BaseHead.astro"
---
<html>
	<head>
		<BaseHead/>
	</head>
	<body>
		<div class="Frame" id="frame">
			<slot />
			<Hero client:only="react" transition:persist/>
		</div>
	</body>
</html>